---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "variables",
        "base",
        "layout",
        "typography",
        "headings",
        "media",
        "btns",
        "links",
        "layout",
        "navigation",
        "colors",
        "borders",
        "animation",
        "lists",
        "syntax-highlighting",
        "slick-theme"
;



#brand {
  //z-index: 2;
}

#info {
  &:before{
    display:block;
    content:' ';
    width: 0;
    height: 0;
    border-bottom: 4rem solid $cyan;
    border-right: 100vw solid transparent;
    position: absolute;
    top: -4rem;
    right: 0;
    @include breakpoint(m) {
      top: -8rem;
      border-bottom: 8rem solid $cyan;
    };
  }
  h2 {
    //max-width:30rem;
    //margin-left: auto;
    //margin-right: auto;
  }
}


#contact {
  // background-color:$marigold;
  &:before{
    display:block;
    content:' ';
    width: 0;
    height: 0;
    border-top: 4rem solid $gray;
    border-left: 100vw solid transparent;
    position: absolute;
    top: 0;
    right: 0;
    @include breakpoint(m) {
      border-top: 8rem solid $gray;
    };
  }
  //color:$white;
  /*z-index: 2;*/
  //font-family: "Helvetica Neue", Helvetica, sans-serif !important;
}
#map-marker {
  width: 60px;
  fill: white;
}

#chevron {
  width: 40px;
  fill: white;
  padding: 20px;
}
#skillsList{
  @include breakpoint(m) {
    -webkit-column-count:2;
       -moz-column-count:2;
        -ms-column-count:2;
         -o-column-count:2;
  }
}

// #work-huge {
//   color:$off-white;
//   // background-image: url(../img/grid.jpg);
//   // font-size: 20rem;
//   transition: all 0.2s ease;
//   text-transform: uppercase;
//   font-family: "helvetica neue";
//   // transform: rotate(-45deg);
//   &:hover {
//     opacity: .8;
//   }
// }



.info-box {
  padding-top: $space3;

  h2 {
    padding-top: .2rem;
  }
  p {
    // margin: 0 auto 30px 0;
  }
}

.work-carousel {
  // padding: 2rem;
}

.project-frame {
  padding: 2rem;
  border-bottom: 1px solid white;
}


.chevron-btn {
  z-index: 1;
  bottom: 2em;
  right: 2em;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  z-index: 10;
}

#email {
  padding: 2rem;
}

#morf-logo {
  width: 60px;
  position: fixed;
  z-index: 1;
  padding: 1rem;
}
