---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "variables",
        "colors",
        "base",
        "layout",
        "typography",
        "headings",
        "media",
        "btns",
        "links",
        "layout",
        "navigation",

        "borders",
        "animation",
        "lists",
        "syntax-highlighting",
        "slick-theme"
;

#starfield {
  width: 100%;
  height: auto;
}

#brand {
  //z-index: 2;
}

#info {
  &:before{
    display:block;
    content:' ';
    width: 0;
    height: 0;
    border-bottom: 4rem solid $cyan;
    border-right: 100vw solid transparent;
    position: absolute;
    top: -4rem;
    right: 0;
    @include breakpoint(m) {
      top: -8rem;
      border-bottom: 8rem solid $cyan;
    };
  }
  h2 {
  }
}


#contact {
  background-color:$marigold;
  &:before{
    display:block;
    content:' ';
    width: 0;
    height: 0;
    border-top: 4rem solid $gray;
    border-left: 100vw solid transparent;
    position: absolute;
    top: 0;
    right: 0;
    @include breakpoint(m) {
      border-top: 8rem solid $gray;
    };
  }
}

#skillsList{
  @include breakpoint(m) {
    -webkit-column-count:2;
       -moz-column-count:2;
        -ms-column-count:2;
         -o-column-count:2;
  }
}


.info-box {
  padding-top: $space-m;

  h2 {
    padding-top: .2rem;
  }
  p {
    // margin: 0 auto 30px 0;
  }
}

.project-frame {
  padding: 2rem;
  border-bottom: 1px solid white;
}


.chevron-btn {
  z-index: 1;
  bottom: 2em;
  right: 2em;
}

#email {
  padding: 2rem;
}

#morf-logo {
  width: 60px;
  position: fixed;
  z-index: 1;
  padding: 1rem;
}

input {
  // width: 70%;
}
