---
# Not necessary
---
/**
 * Mixins
 */
@mixin pos ($position, $top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin center($width: null, $height: null) {
  position: absolute;
  top: 50%;
  left: 50%;
  @if not $width and not $height {
    transform: translate(-50%, -50%);
  } @else if $width and $height {
    width: $width;
    height: $height;
    margin: -($width / 2) #{0 0} -($height / 2)
  } @else if not $height {
    margin-left: -($width / 2);
    transform: translateY(-50%);
    width: $width;
  } @else {
    margin-top: -($height / 2);
    transform: translateX(-50%);
    height: $height;
  }
}


/**
 * Variables
 */
 // Colors
$primary-color: #F6F6F6;
$teal: #1797b0;
$brown: #888;

// Measurements
$base-unit: 8.3333333333%;
$circle-height: 24%;
$border-width: 4px;

// Animations
$timing: cubic-bezier(0.455,  0.030, 0.515, 0.955);
$duration: 1s;


/**
 * Animations
 */
@keyframes hover {
  0% {
    transform: translateY(-30%);
  }

  100% {
    transform: translateY(30%);
  }
}

@keyframes slide {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(100%);
  }
}


/**
 * Base
 */
*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue","Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}


/**
 * Gallery
 */
.gallery {
  @include pos(absolute, 0, 0, 0, 0);
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 1;
  transition: $duration opacity $timing;
	background: $primary-color;
	background: radial-gradient(ellipse at center, lighten($primary-color, 5%) 0%, $primary-color 100%);

  &.fadeOut {
    opacity: 0;
  }
}

.gallery__body {
  @include center();
  transform-origin: center center;
}


/**
 * Poster
 */
.poster {
  @include center();
  transform-origin: center center;
  display: inline-block;
  vertical-align: middle;

  &:before,
  &:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 8px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    box-shadow: 0 15px 10px rgba(#000,.5);
    transform: rotate(-3deg);
  }

  &:after {
    transform: rotate(3deg);
    right: 8px;
    left: auto;
  }
}

.poster__content {
  position: relative;
  width: 500px;
  height: 700px;
  overflow: hidden;
	padding: 2%;
  background-color: $primary-color;
  color: black;
  box-shadow: 0 1px 4px 2px rgba(#000,.2);
}

.poster__header {
  @include pos(absolute, auto, auto, 24%, 2%);

  h1,
  li {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.02em;
  }
}

.poster__meta {
  @include pos(absolute, auto, auto, 3%, 2%);

  h2,
  li,
  dl {
    margin: 0;
    font-size: 8px;
    font-weight: bold;
    line-height: 1.4;
  }

  ul {
    margin-top: 8px;
  }

  dt,
  dd {
    display: inline-block;
    margin: 0 5px 0 0;
  }
}

// .circle {
//   position: absolute;
//   width: 100%;
//   height: 28.625%;
//   border-radius: 50%;
//
//   &--teal {
//     z-index: 2;
//     background-color: rgba(darken($teal, 6%), .8);
//   }
//
//   &--brown {
//     z-index: 1;
//     background-color: $brown;
//   }
// }
