---
layout: homepage
---
<!-- <section class="bg-gray center">
  <div class="" id="starfield"></div>
</section> -->

<section class="pad-l pad-y-xxl">
  <div class="">
    <small class="uppercase" id="name-header">Spencer Harrison</small>

    <div class="musigner">
      <h1 id="musician">musician</h1>
      <h1 id="musigner-3">designer</h1>
    </div>
    <!-- <p>Musigner is a combination of musician designer. It was coined by Andreas Weyland. I'm embracing my mix of interests. As long as I stay true to myself, I'll be the answer to strange questions. </p> -->
  </div>
</section>

<section id="music" class="pad-b-l">
  <div class="pad-x-l">
    <h5>Music</h5>
    <hr class="Divider">
  </div>
  <div class="max-width-xl float-center cf">
      {% for post in site.categories.music %}
        <a class="col col-12 l-col-4 m-col-6 pad-l border-box" href="{{ post.url }}">
          <img src="{{ post.image }}" class="pad-b-m"/>
          <h3>{{ post.title }}</h3>
          <p>{{ post.desc }}</p>
        </a>
      {% endfor %}
  </div>
</section>
<section id="design">
  <div class="pad-x-l">
    <h5>Design</h5>
    <hr class="Divider">
  </div>
  <div class="max-width-xl float-center cf">
      {% for post in site.categories.design %}
        <a class="col col-12 l-col-4 m-col-6 pad-l border-box" href="{{ post.url }}">
          <img src="{{ post.image }}" class="pad-b-m"/>
          <h3>{{ post.title }}</h3>
          <p>{{ post.desc }}</p>
        </a>
      {% endfor %}
  </div>
</section>
