---
layout: default
title: portfolio
permalink: /portfolio/
---

<section id="design" class="">
  <div class="max-width-l float-center cf pad-x-s">
      {% for project in site.designs %}
        {% if project.permalink %}
        <a class="col col-6 m-col-4 pad-s border-box" href="../{{project.permalink}}">
          <img src="{{ project.image }}" class=""/>
          <!-- <h6 class="">{{ project.name }}</h6> -->
        </a>
        {% else %}
        <a class="col col-6 m-col-4 pad-s border-box" href="{{project.extlink}}" target="_blank">
          <img src="{{ project.image }}" class=""/>
          <!-- <h6 class="">{{ project.name }}</h6> -->
        </a>
        {% endif %}
      {% endfor %}
  </div>
</section>

<!-- {% include project-loop.html %} -->
