---
layout: default
title: portfolio
permalink: /portfolio/
---
<!-- <div class="max-width-xl float-center cf pad-s">
    {% for post in site.categories.portfolio %}
      <a class="col col-12 l-col-4 m-col-6 pad-s border-box" href="{{ post.url }}">
        <img src="{{ post.image }}" />
        <p>{{ post.title }}</h4>
      </a>
    {% endfor %}
</div> -->

<section id="design" class="">
  <div class="max-width-l float-center cf pad-x-s">
      {% for project in site.designs %}
        <div class="col col-6 m-col-4 pad-s border-box" target="_blank" href="{% if project.extlink %}{{ project.extlink }}{% else %}{{ project.url }}{% endif %}">
          <img src="{{ project.image }}" class=""/>
        </div>
      {% endfor %}
  </div>
</section>

<section id="code" class="pad-y-xl">
  <div class="max-width-l float-center cf pad-x-s">
    <div class="uppercase tracked pad-s">
      <h6>Links to things</h6>
    </div>
    <div class="pad-s">
      <p>&bull; <a class="border-bottom-s mar-r-m" href="http://bikeandbuild.org/2015annualreport/" target="_blank">When I turned numbers into a story.</a></p>
      <p>&bull; <a class="border-bottom-s mar-r-m" href="http://spenhar.com/merge25/thursday/" target="_blank">Digital concert posters I coded.</a></p>
      <p>&bull; <a class="border-bottom-s" href="https://youtu.be/Wtyfk8TxLRE" target="_blank">A music video for a band I'm in.</a></p>
    </div>
  </div>
</section>
