<footer id="footer" class="left-0 right-0 pad-x-m pad-y-xl bg-blk offwhite">
  <nav class="cf pad-x-m pad-y-m">
    <h3 class="col col-12 m-col-2">About</h3>
    <div class="col col-12 m-col-8" href="{{ site.baseurl }}/">
      <p>Howdy, Spencer here. I'm an experienced product designer with a demonstrated history of working inside the internet. Passionate about human connection and creation tools, e.g. site builders and event page generators. I am currently freelancing and snooping around full-time roles. I was most recently at <a href="">Paperless Post</a> launching the sparkly new Flyer. And before that I worked on an AI squarespace thing and had a tiny design studio in an artshack in North Carolina.</p>
      <a target="_blank" href="https://www.dropbox.com/s/wu4zf6g0rc0qjgy/SpencerHarrisonCV.pdf?dl=0">SpencerHarrisonCV.pdf</a>
    </div>
    <a class="col col-12 m-col-1" href="">Text me</a>
    <a class="col col-12 m-col-1" href="mailto:{{ site.email }}">Email</a>
</nav>
</footer>