<footer class="bg-gray cf pad-m">
  <div class="wrapper cf">
    <nav class="text-right col col-12 pad-m">
      <div class="">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="white mar-r-s" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
        <a class="white mar-r-s" href="https://twitter.com/{{ site.twitter_username }}" target="_blank">twitter</a>
        <a class="white mar-r-s" href="https://github.com/{{ site.github_username }}" target="_blank">github</a>
      </div>
    </nav>
  </div>
</footer>
