<footer class="cf pad-m">
  <div class="wrapper cf">
    <nav class="col col-12 pad-m">
      <div class="">
        <a class="mar-r-s" href="mailto:{{ site.email }}"><span class="navy">EMAIL</span></a>
        <span class="red">&bull;</span>
        <!-- <a class="mar-r-s" href="http://github.com/{{ site.github_username }}" target="_new" title="Follow @spenhar on GitHub">GITHUB</a> -->
        <a class="mar-l-s" href="http://twitter.com/{{ site.twitter_username }}" target="_new" title="Follow @spenhar on Twitter"><span class="navy">TWITTER</span></a>
        <span class="red">&bull;</span>
        <a class="mar-l-s" href="http://instagram.com/{{ site.instagram_username }}" target="_new" title="Follow @spenhar on Twitter"><span class="navy">INSTAGRAM</span></a>
      </div>
    </nav>
  </div>
</footer>
