<header class="max-width-l float-center cf pad-x-s">
  <div class="">
    <div class="float-left pad-x-s pad-y-l">
      <div class="red">
        <a class="" href="{{ site.baseurl }}/">{{ site.title }}</a> {% if page.title %}/ <a href="{{ site.baseurl }}/portfolio/"><span class="red">portfolio</span></a>{% endif %}
      </div>
    </div>
    <nav class="float-right pad-x-s pad-y-l">
      <div class="">
          <a class="border-bottom-s" href="mailto:{{ site.email }}">contact</a>
      </div>
    </nav>
  </div>
</header>
