<header class="max-width-l float-center cf pad-x-s">
  <div class="">
    <div class="float-left pad-x-s pad-y-l">
      <div class="greenbeme">
        <a class="" href="{{ site.baseurl }}/"><span class="">{{ site.title }}</span></a> {% if page.title %}/ {{ page.title }}{% endif %}
      </div>
    </div>
    <nav class="float-right pad-x-s pad-y-l">
      <div class="">
          <a class="border-bottom-green-s" href="mailto:{{ site.email }}">contact</a>

          <!-- <a class="white mar-r-s" href="https://spenhar.com/portfolio" target="_blank"><img src="/icon/briefcase.svg" class="nav-icon" alt=""></a> -->
          <!-- <a class="white mar-r-s" href="https://twitter.com/{{ site.twitter_username }}" target="_blank">🐦</a> -->
          <!-- <a class="white mar-r-s" href="https://instagram.com/{{ site.instagram_username }}" target="_blank"><img src="/icon/photo.svg" class="nav-icon" alt=""></a> -->
          <!-- <a class="white mar-r-s" href="https://github.com/{{ site.github_username }}" target="_blank">🖥️</a> -->
          <!-- <a class="white mar-r-s" href="https://soundcloud.com/{{ site.soundcloud_username }}" target="_blank"><img src="/icon/headphones.svg" class="nav-icon" alt="">️</a> -->
      </div>
    </nav>
  </div>
</header>
