<header class="">
  <div class="">
    <!-- <a class="site-title white" href="{{ site.baseurl }}/">{{ site.title }}</a> -->
    <div class="pad-m float-left">
      <div class="red">
        <a class="" href="{{ site.baseurl }}/"><span class="cream">{{ site.title }}</span></a> {% if page.title %}/ {{ page.title }}{% endif %}
      </div>
    </div>
    <nav class="pad-m float-right">
      <div class="uppercase h5">
          <a class="mar-r-s" href="mailto:{{ site.email }}">✉️️</a>
          <a class="white mar-r-s" href="https://spenhar.com/portfolio" target="_blank">📁</a>
          <!-- <a class="white mar-r-s" href="https://twitter.com/{{ site.twitter_username }}" target="_blank">🐦</a> -->
          <a class="white mar-r-s" href="https://instagram.com/{{ site.instagram_username }}" target="_blank">📷</a>
          <!-- <a class="white mar-r-s" href="https://github.com/{{ site.github_username }}" target="_blank">🖥️</a> -->
          <a class="white mar-r-s" href="https://soundcloud.com/{{ site.soundcloud_username }}" target="_blank">🎹️</a>
      </div>
    </nav>
  </div>
</header>
