<header class="bg-gray cf pad-m">
  <div class="wrapper cf">
    <!-- <a class="site-title white" href="{{ site.baseurl }}/">{{ site.title }}</a> -->
    <div class="col col-12 m-col-8 pad-m">
      <div class="red"><a class="" href="{{ site.baseurl }}/">{{ site.title }}</a>/{{ page.title }}</div>
    </div>

    <nav class="text-right col col-12 m-col-4 pad-m">
      <div class="">
        <!-- {% for page in site.pages %}
          {% if page.title %}
          <a class="white mar-r-s" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %} -->
        <a class="white mar-r-s" href="https://spenhar.myportfolio.com/" target="_blank">portfolio</a>
        <a class="white mar-r-s" href="https://twitter.com/{{ site.twitter_username }}" target="_blank">twitter</a>
        <a class="white mar-r-s" href="https://github.com/{{ site.github_username }}" target="_blank">github</a>
      </div>
    </nav>
  </div>
</header>
