<div class="pad-t-l cf">
  <div class="col col-12">
    <!-- <h2 class="h2 caps bold"> Portfolio </h2> -->
    <div class="flex flex-wrap">

      {% for project in site.projects %}
      <div class="mar-b-l col-12 align-top border-box">
          <div class="pad-y-xxl">

            <div class="polaroid shadow border-super-thin pad-m mar-b-l">
                <div class="">

                  <div class="pad-b-l">
                      <img src="{{ project.hero }}" class="round-corners" alt="{{ section.alt }}"/>
                      <h6>{{ section.head }}</h6>
                  </div>
                </div>
            </div>

            <div class="cf">
              <h1 class="h3 heavy lead-s uppercase">{{ project.client }}</h1>
              <p class="h5 black-5"> {{project.year}} </p>
            </div>
            {% if project.subtitle %}
              <p> <small>{{ project.subtitle }}</small> </p>
            {% endif %}
            {{ project.excerpt }}

          </div>

      </div>
      {% endfor %}
    </div>
  </div>
</div>
