<header class="float-center cf pad-x-s">
  <div class="">
    <div class="float-left pad-x-m pad-y-l">
      <div class="">
        {{ site.title }}
        <!-- <a class="" href="{{ site.baseurl }}/">{{ site.title }}</a> {% if page.title %}/ <a href="{{ site.baseurl }}/portfolio/"><span class="red">portfolio</span></a>{% endif %} -->
      </div>
    </div>
    <nav class="float-right pad-x-s pad-y-l">
      <div class="">
          <a class="" href="mailto:{{ site.email }}">hello@spenhar.com</a>
      </div>
    </nav>
  </div>
</header>
