<!-- <header class="left-0 right-0 pad-x-m pos-fix"> -->
    <nav class="navbar cf pad-x-m pad-y-m">
        <a class="col col-12 m-col-2 " href="{{ site.baseurl }}/">Spencer Harrison</a>
        
        <!-- <a class="col col-12 m-col-9" href="">Projects</a> -->

        <div class="dropdown col col-12 m-col-9">
            <a class="dropbtn">Projects ↓</a>
            <ul class="dropdown-content list-reset">
              {% for project in site.projects %}
                <li class="mar-b-xs"><a href="{{ project.permalink }}">{{ project.client }}</a></li>
              {% endfor %}
            </ul>
        </div>

        <div class="dropdown col col-12 m-col-1">
          <a class="dropbtn">About</a>
          <div class="dropdown-content about-card">
            <p>Howdy, Spencer here. I'm an experienced product designer with a demonstrated history of working inside the internet. Passionate about human connection and creation tools, e.g. site builders and event page generators. I am currently freelancing and snooping around full-time roles. I was most recently at Paperless Post launching the sparkly new Flyer. And before that I worked on an AI squarespace thing and had a tiny design studio in an artshack in North Carolina.</p>
            <a target="_blank" href="https://www.dropbox.com/s/wu4zf6g0rc0qjgy/SpencerHarrisonCV.pdf?dl=0">SpencerHarrisonCV.pdf</a>
          </div>
          

        </div>
    </nav>
<!-- </header> -->