<div class="pad-t-l cf">
  <div class="col col-12">
    <h2 class="h6 caps bold"> Featured Work </h2>
    <div class="flex flex-wrap">
      {% for project in site.projects %}
      <div class="mar-b-l col-12 m-col-6 l-col-4 pad-r-l align-top border-box">

          <div class="pad-y-m">
            <div class="cf">
              <h3 class="bold">
                <a href="../{{project.permalink}}" class="">{{ project.title }}</a>
              </h3>
            </div>
            {% if project.subtitle %}
              <p> <small>{{ project.subtitle }}</small> </p>
            {% endif %}
            <p class="h5 black-5"> {{project.year}} </p>
          </div>

      </div>
      {% endfor %}
    </div>
  </div>
</div>
