<section id="timeline" class="pad-y-xxl ph3 pb5 ph5-ns ph4">

  <ul class="timeline pt5 pb6">

    <li>
      <div class="direction-l pt5">
        <div class="flag-wrapper pa3">
          <h5 class="orange when pv2">2017 - present</h5>
          <h3 class="flag pr1-ns pt3"><a href="/portfolio/paperless-post/" target="_blank" class="link black-80">Paperless Post</a></h3>
          <div class="desc pb3 f6">Brought on board to design and launch Flyer - like their card invites but with Gifs.</div>
        </div>
      </div>
    </li>

    <li>
      <div class="direction-r pt5">
        <div class="flag-wrapper pa3">
          <h5 class="orange when pv2">2016 - 2017</h5>
          <h3 class="flag pr1-ns pt3"><a href="https://morf.studio/" target="_blank" class="link black-80">Morf Studio</a></h3>
          <div class="desc pb3 f6">An interdiscplinary design studio making products for the web and not-web.</div>
        </div>
      </div>
    </li>

    <li>
      <div class="direction-l pt5">
        <div class="flag-wrapper pa3">
          <h5 class="orange when pv2">2015 - 2016</h5>
          <h3 class="flag pr1-ns pt3"><a href="https://thegrid.io/" target="_blank" class="link black-80">The Grid</a></h3>
          <div class="desc pb3 f6">Artificial Intelligence website builder. Product/UI design for web &amp; mobile apps.</div>
        </div>
      </div>
    </li>

    <li>
      <div class="direction-r pt5">
        <div class="flag-wrapper pa3">
          <h5 class="orange when pv2">2014 - 2015</h5>
          <h3 class="flag pr1-ns pt3"><a href="https://theexperiment.io/" target="_blank" class="link black-80">The Experiment</a></h3>
          <div class="desc pb3 f6">A technology shop specializing in design, development, and prototyping.</div>
        </div>
      </div>
    </li>

    <li>
      <div class="direction-l pt5">
        <div class="flag-wrapper pa3">
          <h5 class="orange when pv2">Summer 2014</h5>
          <h3 class="flag pr1-ns pt3"><a href="http://mckinney.com/" target="_blank" class="link black-80">McKinney</a></h3>
          <div class="desc pb3 f6">Creative Technologist making print/web ads and arduino board rocking chairs.</div>
        </div>
      </div>
    </li>

    <li>
      <div class="direction-r pt5">
        <div class="flag-wrapper pa3">
          <h5 class="orange when pv2">2013 - now</h5>
          <h3 class="flag pr1-ns pt3"><a href="http://mideaumusic.com/" target="_blank" class="link black-80">Mideau</a></h3>
          <div class="desc pb3 f6">I'm one half of an art-pop band. Listen on <a class="link black-80 bb" href="https://open.spotify.com/artist/5N0xrDCddc6VkbPCDo9H5K">Spotify</a>. Music is a constant in my life.</div>
        </div>
      </div>
    </li>
  </ul>

</section>
