<section id="timeline" class="ph3 pb5 ph5-ns ph4">
  <!-- <h2>Work History</h2> -->
  <ul class="timeline pt5 pb6">

    <li>
      <div class="pt2">
        <div class="pa3">
          <h2 class="flag pr1-ns pt3"><a href="http://morf.studio/" target="_blank" class="link black-80">Morf Studio</a></h2>
          <small class="orange when pv2">2016 - now</small>
          <p>An interdiscplinary design studio making products for the web and not-web. Along with Alex Bloom, I founded Morf Studio as a small creative services agency. We wanted to take the artists model of keeping things small and simple - making things we were passionate about to draw in the right clients.<small id="read-more" class="orange ph2"><a href="/posts">read more...</a></small></p>
        </div>

      </div>
    </li>

    <li>
      <div class="pt2">
        <div class="pa3">
          <h2 class="flag pr1-ns pt3"><a href="http://thegrid.io/" target="_blank" class="link black-80">The Grid</a></h2>
          <small class="orange when pv2">2015 - 2016</small>
          <p>Artificial Intelligence website builder. Product/UI design for web &amp; mobile apps.</p>
        </div>
      </div>
    </li>

    <li>
      <div class="pt2">
        <div class="pa3">
          <h2 class="flag pr1-ns pt3"><a href="https://theexperiment.io/" target="_blank" class="link black-80">The Experiment</a></h2>
          <small class="orange when pv2">2014 - 2015</small>
          <p>A technology shop specializing in design, development, and prototyping.</p>
        </div>
      </div>
    </li>

    <li>
      <div class="pt2">
        <div class="pa3">
          <h2 class="flag pr1-ns pt3"><a href="http://mckinney.com/" target="_blank" class="link black-80">McKinney</a></h2>
          <small class="orange when pv2">Summer 2014</small>
          <p>Creative Technologist making print/web ads and arduino board rocking chairs.</p>
        </div>
      </div>
    </li>

    <li>
      <div class="pt2">
        <div class="pa3">
          <h2 class="flag pr1-ns pt3"><a href="http://mideaumusic.com/" target="_blank" class="link black-80">Mideau</a></h2>
          <small class="orange when pv2">2013 - now</small>
          <p>I'm one half of an art-pop band. Listen on <a class="link black-80 bb" href="https://open.spotify.com/artist/5N0xrDCddc6VkbPCDo9H5K">Spotify</a>. Music is a constant in my life.</p>
        </div>
      </div>
    </li>
  </ul>

</section>
