<section id="work" class="">
  <div class="cf">
    <article class="fl w-100 w-50-ns ph0-ns">
      <img src="img/brightcove.jpg" alt="" class="w-100"/>
    </article>
    <article class="fl w-100 w-50-ns pl0-ns pr0-ns">
        <img src="img/grid-account.jpg" alt="brightcove" class="w-100"/>
    </article>
  </div>
  <div class="cf">
    <article class="fl w-100 w-50-ns ph0-ns">
        <img src="img/grid-layout.jpg" alt="brightcove" class="w-100"/>
    </article>
    <article class="fl w-100 w-50-ns p10-ns pr0-ns">
      <a href="http://morf.studio/babar-2015/">
        <img src="img/babar2015.jpg" alt="" class="w-100" />
      </a>
    </article>
  </div>
  <div class="cf">
    <article class="fl w-100 w-50-ns ph0-ns">
      <a href="http://morf.studio/">
        <img src="img/morf.jpg" alt="" class="w-100"/>
      </a>
    </article>
    <article class="fl w-100 w-50-ns ph0-ns">
        <img src="img/roobrik.jpg" alt="roobrik" class="w-100"/>
    </article>
  </div>
  <div class="cf">
    <article class="fl w-100 w-50-ns ph0-ns">
      <img src="img/experiment.jpg" alt="" class="w-100"/>
    </article>
    <article class="fl w-100 w-50-ns ph0-ns">
      <img src="img/grid-molly.gif" alt="molly" class="w-100"/>
    </article>
  </div>
</section>
