
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(90deg); transform:rotate(560deg); } }

/*ANIMATION*/
// Animations
$timing: cubic-bezier(0.455,  0.030, 0.515, 0.955);
$duration: 2s;

.headerAnimation {
  /*border: 2px solid;*/
    width: 180px;
    height: 60px;
    // margin: 2rem;
    margin: 0 1rem 2rem; //small screen
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    background-image: url("../icons/morf-sprite.gif");
    background-image: url("../icons/morf-sprite.svg");
    background-size: 100% auto;

    -webkit-animation: play 5s steps(10) infinite;
       -moz-animation: play 5s steps(10) infinite;
        -ms-animation: play 5s steps(10) infinite;
         -o-animation: play 5s steps(10) infinite;
            animation: play 5s steps(10) infinite;
}

@keyframes tilt {
  0% {
    transform: translateY(-1%);
    -ms-transform: rotate(-.2deg); /* IE 9 */
    -webkit-transform: rotate(-.2deg); /* Chrome, Safari, Opera */
    transform: rotate(-.2deg);
  }

  100% {
    transform: translateY(30%);
    -ms-transform: rotate(1deg); /* IE 9 */
    -webkit-transform: rotate(1deg); /* Chrome, Safari, Opera */
    transform: rotate(1deg);
  }
}

@keyframes slide {
  0% {
    transform: translateX(-12%);
  }

  100% {
    transform: translateX(12%);
  }
}

@-webkit-keyframes play {
   from { background-position: 0px; }
     to { background-position: 0px -600px; }
}

@-moz-keyframes play {
   from { background-position: 0px; }
     to { background-position: 0px -600px; }
}

@-ms-keyframes play {
   from { background-position: 0px; }
     to { background-position: 0px -600px; }
}

@-o-keyframes play {
   from { background-position: 0px; }
     to { background-position: 0px -600px; }
}

@keyframes play {
   from { background-position: 0px 0px; }
     to { background-position: 0px -600px; }
}

@media screen and (min-width: 40em) {
  .headerAnimation{
    width: 360px;
    height: 120px;
  }
  @-webkit-keyframes play {
     from { background-position: 0px; }
       to { background-position: 0px -1200px; }
  }
  @-moz-keyframes play {
     from { background-position: 0px; }
       to { background-position: 0px -1200px; }
  }
  @-ms-keyframes play {
     from { background-position: 0px; }
       to { background-position: 0px -1200px; }
  }
  @-o-keyframes play {
     from { background-position: 0px; }
       to { background-position: 0px -1200px; }
  }
  @keyframes play {
     from { background-position: 0px 0px; }
       to { background-position: 0px -1200px; }
  }
}

#morf-logo:hover {
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
}

// Transform

.rotate-90 {}
.rotate-180 {
  transform: rotate(180deg);
}

.bg-transition {transition: background-color 0.5s ease;}
.transition {transition: all 0.2s ease;}
