
$border-width: .25rem;

.border{
  border:$border-width solid;
}
.border-top{
  border-top:$border-width solid;
}
.border-top-thin{
  border-top:$border-width/4 solid rgba(0,0,0,0.2);
  padding-top:$space-xs;
}
.border-left{
  border-left:$border-width solid;
}
.border-right{
  border-right:$border-width solid;
}
.border-bottom{
  border-bottom:$border-width solid;
}
.border-bottom-s{
  border-bottom:$border-width/2 solid;
  padding-bottom:$space-xs;
}
.border-bottom-green-s{
  border-bottom:$border-width/2 solid $greenbeme;
  padding-bottom:$space-xs;
}

.shadow{
  box-shadow:0 2px 10px 0px rgba(0,0,0, .08);
}

.circle{
  border-radius:50%;
}

.round-corners{
  border-radius:.2rem;
}
