// Colors
$red: #F44336;
$orange: #FA6900;
$off-white: #E3d3C4;
$blue: #67C9bb;
$yellow: #F9C22E;
$charcoal: #252525;
$gray: #F6F6F6;
$blk: #1F1A17;
$greenbeme: #00eb00;

$color-list: (
"red"    #F4231F,
"purple" #561068,
"orange"  #FF951B,
"yellow"  #F9C22E,
"sky"    #67C9bb,
"blue"  #133370,
"navy" #0D2449,
"greenbeme" #00eb00,
"offwhite" #E3D3C4,
"cream" #fffff5,
"gray"  #F6F6F6,
"charcoal" #252525,
"blk"  #1F1A17
);


@each $value in $color-list {
  .#{nth($value, 1)} {
    color: nth($value, 2);
  }

  .bg-#{nth($value, 1)} {
    background-color: nth($value, 2);
  }

  .border-#{nth($value, 1)} {
    border-color: nth($value, 2);
    border-style: solid;
  }
}

.black{color:#000;}
.b10{color:rgba(0,0,0,0.1);}
.b20{color:rgba(0,0,0,0.2);}
.b30{color:rgba(0,0,0,0.3);}
.b40{color:rgba(0,0,0,0.4);}
.b50{color:rgba(0,0,0,0.5);}
.b60{color:rgba(0,0,0,0.6);}
.b70{color:rgba(0,0,0,0.7);}
.b80{color:rgba(0,0,0,0.8);}
.b90{color:rgba(0,0,0,0.9);}

.white{color:#FFF;}
.w10{color:rgba(255,255,255,0.1);}
.w20{color:rgba(255,255,255,0.2);}
.w30{color:rgba(255,255,255,0.3);}
.w40{color:rgba(255,255,255,0.4);}
.w50{color:rgba(255,255,255,0.5);}
.w60{color:rgba(255,255,255,0.6);}
.w70{color:rgba(255,255,255,0.7);}
.w80{color:rgba(255,255,255,0.8);}
.w90{color:rgba(255,255,255,0.9);}

.gradient {
  background-image:
    linear-gradient(
      $yellow, $orange, $red
    );
}
