h1 {
  font-family: $base-headings;
}

h2, h3, h4, h5, h6 {
  font-family: $base-font-family;
  // opacity:0.75;
}

.h1{font-size:$h1;}
.h2{font-size:$h2;}
.h3{font-size:$h3;}
.h4{font-size:$h4;}
.h5{font-size:$h5;}
.h6{font-size:$h6;}

h1 {
  font-size: $h1;
  font-weight:600;
  @include breakpoint(m) {
    font-size: 4rem;
  };
}

h2 {
  font-size: $h2;
  font-weight:600;
  @include breakpoint(l) {
    font-size: 2rem;
  };
}

h3 {
  font-size: $h3;
  font-weight:600;
  @include breakpoint(l) {
    font-size: 1.5rem;
  };
}
