//Positioning Utilities
.pos-abs{ position: absolute;}
.pos-fix{ position: fixed;}
.pos-rel{ position: relative;}

//Display Utilities
.dis-i { display: inline;}
.dis-ib{ display: inline-block;}
.dis-b { display: block;}
.dis-t { display: table;}
.dis-f { display: flex;}
.dis-tc{ display: table-cell;}


.s-dis-i {
  @include breakpoint(s) {
    display: inline;

  };

}
.s-dis-ib{
  @include breakpoint(s) {
    display: inline-block;

  };

}
.s-dis-b {
  @include breakpoint(s) {
    display: block;
  };

}
.s-dis-t {
  @include breakpoint(s) {
    display: table;

  };

}
.s-dis-f {
  @include breakpoint(s) {
  display: flex;
  };
}
.s-dis-tc{
  @include breakpoint(s) {
  display: table-cell;
  };
}

@include breakpoint(s) {

};

//Coordinates
.top-0  { top: 0;}
.top-s  {top:$space-s;}
.top-m  {top:$space-m;}
.top-l  {top:$space-l;}
.top-100{}
.bottom-0{ bottom: 0;}
.bottom-s{bottom:1rem;}
.bottom-m{}
.bottom-l{}
.bottom-100{}
.left-0{ left: 0; }
.left-s{}
.left-m{}
.left-l{}
.left-100{}
.right-0{ right: 0; }
.right-s{}
.right-m{}
.right-l{}
.right-100{ }

//Grid Utilities
.w-10{width:10%;}
.w-20{width:20%;}
.w-30{width:30%;}
.w-40{width:40%;}
.w-50{width:50%;}
.w-60{width:60%;}
.w-70{width:70%;}
.w-80{width:80%;}
.w-90{width:90%;}
.w-100{width:100%;}

.w-1-3{width:33.3333333%}
.w-2-3{width:66.6666666%}

.max-width-xs {max-width: 16rem;}
.max-width-s  {max-width: 32rem;}
.max-width-m  {max-width: 48rem;}
.max-width-l  {max-width: 64rem;}
.max-width-xl {max-width: 96rem;}
.max-width-xxl{max-width: 128rem;}

.max-height-xs {max-height: 16rem;}
.max-height-s  {max-height: 32rem;}
.max-height-m  {max-height: 48rem;}
.max-height-l  {max-height: 64rem;}
.max-height-xl {max-height: 96rem;}
.max-height-xxl{max-height: 128rem;}

// Z-Index
.z10 {z-index:10;}
.z1 {z-index:1;}
.z-1 {z-index:-1;}

//Floats

.v-center-cell{
  display: table-cell;
  vertical-align: middle;
}

.v-center{
  vertical-align: middle;
}

.border {
  border: 4px solid white;
  padding: 1rem;
}


//Padding
.pad-0 {padding:0;}

.pad-xs {padding:$space-xs;}
.pad-s  {padding:$space-s;}
.pad-m  {padding:$space-m;}
.pad-l  {padding:$space-l;}
.pad-xl {padding:$space-xl;}
.pad-xxl{padding:$space-xxl;}
.pad-xxxl{padding:$space-xxxl;}

.pad-t-xs {padding-top:$space-xs;}
.pad-t-s  {padding-top:$space-s;}
.pad-t-m  {padding-top:$space-m;}
.pad-t-l  {padding-top:$space-l;}
.pad-t-xl {padding-top:$space-xl;}
.pad-t-xxl{padding-top:$space-xxl;}
.pad-t-xxxl{padding-top:$space-xxxl;}

.pad-b-xs {padding-bottom:$space-xs;}
.pad-b-s  {padding-bottom:$space-s;}
.pad-b-m  {padding-bottom:$space-m;}
.pad-b-l  {padding-bottom:$space-l;}
.pad-b-xl {padding-bottom:$space-xl;}
.pad-b-xxl{padding-bottom:$space-xxl;}
.pad-b-xxxl{padding-bottom:$space-xxl;}

.pad-y-xs {padding-top:$space-xs;padding-bottom:$space-xs;}
.pad-y-s  {padding-top:$space-s;padding-bottom:$space-s;}
.pad-y-m  {padding-top:$space-m;padding-bottom:$space-m;}
.pad-y-l  {padding-top:$space-l;padding-bottom:$space-l;}
.pad-y-xl {padding-top:$space-xl;padding-bottom:$space-xl;}
.pad-y-xxl{padding-top:$space-xxl;padding-bottom:$space-xxl;}
.pad-y-xxxl{padding-top:$space-xxxl;padding-bottom:$space-xxxl;}

.pad-l-xs {padding-left:$space-xs;}
.pad-l-s  {padding-left:$space-s;}
.pad-l-m  {padding-left:$space-m;}
.pad-l-l  {padding-left:$space-l;}
.pad-l-xl {padding-left:$space-xl;}
.pad-l-xxl{padding-left:$space-xxl;}
.pad-l-xxxl{padding-left:$space-xxxl;}

.pad-r-xs {padding-right:$space-xs;}
.pad-r-s  {padding-right:$space-s;}
.pad-r-m  {padding-right:$space-m;}
.pad-r-l  {padding-right:$space-l;}
.pad-r-xl {padding-right:$space-xl;}
.pad-r-xxl{padding-right:$space-xxl;}
.pad-r-xxxl{padding-right:$space-xxxl;}

.pad-x-xs {padding-left:$space-xs;padding-right:$space-xs;}
.pad-x-s  {padding-left:$space-s;padding-right:$space-s;}
.pad-x-m  {padding-left:$space-m;padding-right:$space-m;}
.pad-x-l  {padding-left:$space-l;padding-right:$space-l;}
.pad-x-xl {padding-left:$space-xl;padding-right:$space-xl;}
.pad-x-xxl{padding-left:$space-xxl;padding-right:$space-xxl;}
.pad-x-xxxl{padding-left:$space-xxxl;padding-right:$space-xxxl;}


//Margins
.mar-0 {margin:0;}

.mar-xs {margin:$space-xs;}
.mar-s  {margin:$space-s;}
.mar-m  {margin:$space-m;}
.mar-l  {margin:$space-l;}
.mar-xl {margin:$space-xl;}
.mar-xxl{margin:$space-xxl;}
.mar-xxxl{margin:$space-xxxl;}

.mar-t-xs {margin-top:$space-xs;}
.mar-t-s  {margin-top:$space-s;}
.mar-t-m  {margin-top:$space-m;}
.mar-t-l  {margin-top:$space-l;}
.mar-t-xl {margin-top:$space-xl;}
.mar-t-xxl{margin-top:$space-xxl;}
.mar-t-xxxl{margin-top:$space-xxxl;}

.mar-b-xs {margin-bottom:$space-xs;}
.mar-b-s  {margin-bottom:$space-s;}
.mar-b-m  {margin-bottom:$space-m;}
.mar-b-l  {margin-bottom:$space-l;}
.mar-b-xl {margin-bottom:$space-xl;}
.mar-b-xxl{margin-bottom:$space-xxl;}
.mar-b-xxxl{margin-bottom:$space-xxl;}

.mar-y-xs {margin-top:$space-xs;margin-bottom:$space-xs;}
.mar-y-s  {margin-top:$space-s;margin-bottom:$space-s;}
.mar-y-m  {margin-top:$space-m;margin-bottom:$space-m;}
.mar-y-l  {margin-top:$space-l;margin-bottom:$space-l;}
.mar-y-xl {margin-top:$space-xl;margin-bottom:$space-xl;}
.mar-y-xxl{margin-top:$space-xxl;margin-bottom:$space-xxl;}
.mar-y-xxxl{margin-top:$space-xxxl;margin-bottom:$space-xxxl;}

.mar-l-xs {margin-left:$space-xs;}
.mar-l-s  {margin-left:$space-s;}
.mar-l-m  {margin-left:$space-m;}
.mar-l-l  {margin-left:$space-l;}
.mar-l-xl {margin-left:$space-xl;}
.mar-l-xxl{margin-left:$space-xxl;}
.mar-l-xxxl{margin-left:$space-xxxl;}
.mar-l-3 {margin-left:3rem;}

.mar-r-xs {margin-right:$space-xs;}
.mar-r-s  {margin-right:$space-s;}
.mar-r-m  {margin-right:$space-m;}
.mar-r-l  {margin-right:$space-l;}
.mar-r-xl {margin-right:$space-xl;}
.mar-r-xxl{margin-right:$space-xxl;}
.mar-r-xxxl{margin-right:$space-xxxl;}

.mar-x-xs {margin-left:$space-xs;margin-right:$space-xs;}
.mar-x-s  {margin-left:$space-s;margin-right:$space-s;}
.mar-x-m  {margin-left:$space-m;margin-right:$space-m;}
.mar-x-l  {margin-left:$space-l;margin-right:$space-l;}
.mar-x-xl {margin-left:$space-xl;margin-right:$space-xl;}
.mar-x-xxl{margin-left:$space-xxl;margin-right:$space-xxl;}
.mar-x-xxxl{margin-left:$space-xxxl;margin-right:$space-xxxl;}

.mar-l-auto { margin-left: auto }
.mar-r-auto { margin-right: auto }
.mar-y-auto, .vertical-center { margin-top:auto; margin-bottom:auto}
.mar-x-auto, .float-center { margin-left: auto; margin-right: auto; }


.grid{
  position:relative;
  >li, >div{
    float:left;
  }
  .cell{
    padding:$space-s;
  }

}



/**
 * Establish Grids Using Flexbox
 */
// Global Grid Variables
$gutter: $spacing-unit;
$column-count: 12;

// Convert Column Width to Relative Percentage
@function column-percent($col-number, $percent:100%) {
    @return ($percent / $column-count) * $col-number;
}

//@function ($col-number,)

//Grid Container
@mixin flex{
	//position:relative;
	display:flex;
  display:-webkit-flex;
	flex-flow:row wrap;
	align-items: stretch;
	margin:0;
}
@mixin subtract-margin{
	margin: 0 0 0 -#{$gutter};
}

div.flex{
  @include flex;
}


//@mixin g($col){
//	width: calc( #{column-percent($col)} - #{$gutter}) ;
//	box-sizing:border-box;
//	margin-left:$gutter;
//}

//$g1  : calc( #{column-percent(01)} - #{$gutter} );
//$g2	 : calc( #{column-percent(02)} - #{$gutter} );
//$g3	 : calc( #{column-percent(03)} - #{$gutter} );
//$g4	 : calc( #{column-percent(04)} - #{$gutter} );
//$g5	 : calc( #{column-percent(05)} - #{$gutter} );
//$g6	 : calc( #{column-percent(06)} - #{$gutter} );
//$g7	 : calc( #{column-percent(07)} - #{$gutter} );
//$g8	 : calc( #{column-percent(08)} - #{$gutter} );
//$g9	 : calc( #{column-percent(09)} - #{$gutter} );
//$g10 : calc( #{column-percent(10)} - #{$gutter} );
//$g11 : calc( #{column-percent(11)} - #{$gutter} );
//$g12 : calc( #{column-percent(12)} - #{$gutter} );

// Grid Items CSS CLASS NAMES
@for $i from 1 through $column-count{
	.col-#{$i} {
		width:calc( #{$i} / #{$column-count} * 100% );
		//margin-left: $gutter;
	 }
}
@for $i from 1 through $column-count{
  .s-col-#{$i} {
     @include breakpoint(s) {
      width:calc( #{$i} / #{$column-count} * 100% );
     };
   }
}
@for $i from 1 through $column-count{
  .m-col-#{$i} {
     @include breakpoint(m) {
       width:calc( #{$i} / #{$column-count} * 100% );
     };
   }
}
@for $i from 1 through $column-count{
   .l-col-#{$i} {
     @include breakpoint(l) {
       width:calc( #{$i} / #{$column-count} * 100% );
     };
   }
}
@for $i from 1 through $column-count{
   .xl-col-#{$i} {
      @include breakpoint(xl) {
        width:calc( #{$i} / #{$column-count} * 100% );
     };
   }
}



/*
 * Aspect Ratio Control on divs with no, or variable content.
 */
@mixin ratio($width,$height){
	&:before{
		content:' ';
		display:block;
    position:absolute; // remove this when needed
		padding-top: ($height / $width) * 100%;
	}
}
.ratio-16-9{
  @include ratio(16,9);
}
.ratio-3-2{
  @include ratio(3,2);
}
.ratio-4-3{
  @include ratio(4,3);
}
.ratio-1-1{
  @include ratio(1,1);
}


.col{
  float:left;
}
.float-left{float:left;}
.float-right{float:right;}
.float-center{
  margin-left:auto;
  margin-right:auto;
}


/*
 * Clearfix Classes
 */
.cf:before,
.cf:after { content: " "; display: table; }
.cf:after { clear: both; }
.cf {       *zoom: 1; }










.full-screen{
  width: 100%;
  height: 100vh;
  min-height:500px;
}

/* Layout / Viewports */
.window-height{
  height:100vh;
}
