a {
  text-decoration: underline;
  padding:$space2 $space3;
}
a:hover {
  color: black;
}

a.button{
  text-decoration:none;
  color: black;
  box-shadow: 0 0 0 2px black;
  //border: 2px solid black;
  padding:$space2 $space3;
}
