a {
  transition: all .3s;
  color:$black;
  text-decoration:none;
  // box-shadow:0 1px 0 0 $b40;
  // font-weight:600;
}
a:link,
a:visited{
    color:$black;
}
.link { text-decoration: none; }
a:hover {
  //color:$b70;
  // box-shadow:0 2px 0 0 $b40;
}
a:active{
  transition: all .3s;
  //color:$b80;
  box-shadow:0 2px 0 0 $black;
}
a.button{
  font-family: 'Karla',-apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  transition: all .3s;
  text-decoration:none;
  color: $white;
  background-color:$charcoal;
  //text-transform:uppercase;
  font-weight:bold;
  //letter-spacing: .1em;
  padding:$space-s $space-m;
  box-shadow: 0 1px 1px 1px $b10;

  //border: 2px solid black;
  padding:$space-s $space-m;
  &:hover{
    //background-color:$marigold;
    box-shadow: 0 3px 1px 1px $b10;
  }
  &:active{
    //background-color:$b;
    box-shadow: 0 1px 1px 1px $b20;
  }
}
