#merge-svg {
  // border: black solid 4px;
}
.merge-nav {
    position: absolute;
    top: 40%;
    right: 0;
    bottom: auto;
    left: 0;
    z-index: 4;
}
.merge-nav a:nth-child(1) {
    -webkit-transform: rotate(-90deg) translate3d(0,-20%,0);
    transform: rotate(-90deg) translate3d(0,-20%,0);
    -webkit-transform-origin: 0 0 center;
    transform-origin: 0 0 center;
    float: left;
}

.merge-nav a {
    padding: .5em;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: .4em;
    opacity: .75;
    // color: #fff;
}

.merge-nav a:nth-child(2) {
    -webkit-transform: rotate(90deg) translate3d(0,-20%,0);
    transform: rotate(90deg) translate3d(0,-20%,0);
    -webkit-transform-origin: 100% 0 center;
    transform-origin: 100% 0 center;
    float: right;
}
