body.lightning {
  background: url(/img/lightning-720.gif) no-repeat center center fixed;
  background-size: cover;
  background-color: black;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

img.nav-icon {
  width: 24px;
  height: auto;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

#name-header {
  letter-spacing: .2rem;
}

.musigner {
  position: relative;
}
#musician {
  color: #F01616;
  mix-blend-mode: multiply;
  opacity: 1;
}
#musigner-3 {
  position: absolute;
  color: #1797b0;
  mix-blend-mode: multiply;
  top: 0;
  opacity: 1;
  // left: 200px;
  // animation: tilt $duration $timing alternate infinite;
  // animation: slide $duration*12 $timing alternate infinite;
}

hr {
  box-sizing:border-box;
  margin-top:16px;
  margin-bottom:16px;
  border:0;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:rgba(0, 0, 0, .25);
  border-width:1px;
  border-color:currentcolor;
  // margin-left:32px;
  // margin-right:32px;
}

p {
  font-weight: 300;
}

.post-content {
  img {

  }
  p {
    padding-bottom: 1.5rem;
  }
}

#red-link {
  color: $red;
  // text-decoration: underline;
  border-bottom: 2px solid $red;
}

#lightning {

}

.fade-in {
  transition: all .6s;
  opacity: .8;
  &:hover {
    opacity: 1;
  }
}

.sidenote {
  right:3rem;
  top: 3rem;
}


.no-js #nav { display: block; }

.js #nav { display: none; }


/* Navbar container */
.navbar {
  overflow: hidden;
}

/* Links inside the navbar */
.navbar a {
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  border: none;
  outline: none;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  // background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  padding-top: .5rem;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: $blk;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.project-wrapper {
  position: sticky;
  top: 0px;
  // background: var(--backgroundColor);
  // background: var({{ project.color }});
  min-height: 100vh;
}
.vimeo-wrapper {
  position: relative;
  // top: 0;
  left: 0;
  // width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;

  display: block;
  // position: relative;
  width: 100vw;
  max-width: 100%;
  // height: 900px;
  // background: var(--backgroundColor);
}

.vimeo-wrapper iframe {
  width: 100vw;
  height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  // position: absolute;

  // top: 50%;
  // left: 50%;
  // width: 1600px;
  // height: 900px;
  // margin-left: calc(-800px);
  // margin-top: calc(-450px);
}

.navbar a {
  color: $offwhite;
}