//Global Settings

$measure-width:40em;
$measure-width-narrow:22em;
.measure{
  max-width:$measure-width;
}
.measure-narrow{
  max-width:$measure-width-narrow;
}

.lead-s{line-height:$leading-solid;}
.lead-t{line-height:$leading-text;}
.lead-h{line-height:$leading-headline;}

/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;

}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure, small,
%vertical-rhythm {
    margin-top:0;
    margin-bottom: 0.75rem;
}

p {
  //line-height: 2rem;
  max-width:$measure-width;
  opacity:0.9;
}

.float-center{
  margin-left:auto;
  margin-right:auto;
}

strong{
  font-weight:bold;
}

small{
  font-size:0.875rem;
  opacity:0.6;
}


mark{
  //padding:$space-xs 0;
  &:hover{
    cursor:help;
  }
}

//Text Decoration Classes
.underline{}
.bold{}
.uppercase{
  text-transform: uppercase;
}

// Text Alignment Classes
.text-center{text-align:center;}
.text-left  { text-align:left;}
.text-right {text-align:right;}

//Font Weight Classes
.heavy {
  font-weight: 800;
}
.bold {
  font-weight: 600;
}
.light{}

//Measure & Max-Width Classes
.measure{ max-width: $measure-width;}

.eurostile {
  font-family: 'eurostile-extended';
}
.michroma {
  font-family: 'Michroma', sans-serif;
}
.sans-serif { font-family: "eurostile-extended", -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif; }
.serif { font-family: georgia, times, serif; }
.system-sans-serif { font-family: sans-serif; }
.system-serif { font-family: serif; }
/* Monospaced Typefaces (for code) */
/* From http://cssfontstack.com */
code, .code { font-family: Consolas, monaco, monospace; }
/* Sans-Serif Typefaces */
.helvetica { font-family: 'helvetica neue', helvetica, sans-serif; }
.avenir { font-family: 'avenir next', avenir, sans-serif; }
/* Serif Typefaces */
.georgia { font-family: georgia, serif; }
.times { font-family: times, serif; }
.bodoni { font-family: "Bodoni MT", serif; }
.calisto { font-family: "Calisto MT", serif; }
.garamond { font-family: garamond, serif; }
.baskerville { font-family: garamond, serif; }

.tracked {
  letter-spacing: $space-xs;
}
