<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <main id="js-gallery" role="main" class="gallery">
      <nav class="merge-nav">
        {% for post in site.categories.merge25 %}
          {% if post.url == page.url %}
            {% assign post_index0 = forloop.index0 %}
            {% assign post_index1 = forloop.index %}
          {% endif %}
        {% endfor %}
        {% for post in site.categories.merge25 %}
          {% if post_index0 == forloop.index %}
            {% assign next_post = post.url %}
          {% endif %}
          {% if post_index1 == forloop.index0 %}
            {% assign prev_post = post.url %}
          {% endif %}
        {% endfor %}
        {% if prev_post %}
          <a href="{{ prev_post }}">Prev</a>
        {% elsif prev_post == false %}
          <a href="#">NO PREV</a>
        {% endif %}
        {% if next_post %}
          <a href="{{ next_post }}">Next</a>
        {% endif %}
      </nav>

      <section class="gallery__body">
        <div id="js-poster" class="main__gallery-poster poster">
          <div class="poster__content">
            {{ content }}
          </div>
        </div>
      </section>
    </main>

    {% include footer-abs.html %}

  </body>

</html>
