---
layout: default
---
<div class="post">
  <header class="post-header pad-t-xl pad-b-m pad-x-m measure float-center">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content measure pad-x-m float-center serif">
    {{ content }}
  </article>

  <section>
    <ul class="photo-gallery">
      {% for image in page.images %}
        <li class="pad-y-l">
          <img src="{{ image.image_path }}" alt="{{ image.desc}}"/>
          <p>{{ image.desc }}</p>
        </li>
      {% endfor %}
      </ul>
  </section>

</div>
